/* Debug */
/* .container {
  border: 3px solid coral;
} */
/* [class*="col-"] {
  background-color: lightyellow;
  border: 2px solid #000;
}
 */
.container {
  margin-top: 30px;
  text-align: center;
}
.silver {
  background-color:#F8F9F9 ;
}
[class*="col-"] {
  padding: 40px;
  line-height: 100%;
}
h2 {
  padding-top: 20px;
  font-size: 30px;
  text-transform: capitalize;
}
.width_30 {
  width: 30%;
  padding-bottom: 20px;
}
.width_20 {
  width: 20%;
  padding-bottom: 20px;
}
.width_50 {
  width: 50%;
  padding-bottom: 20px;
}
h3 {
  text-transform: capitalize;
  padding-bottom: 20px;
}
p {
  line-height: 20px;
  padding-bottom: 15px;
}
.background_blue {
  border-radius: 50%;
  margin-bottom: 10px;
  padding: 15px;
  background-color: #428ACA;

}
@media screen and (max-width: 992px) and (min-width: 768px) {
   p {
    font-size: 80%;
  }
}
@media screen and (max-width: 768px){

  .col-xs-12 p{
    font-size: 0;
  }
  h2 {
    color: #ABEBC6;
  }
  h3{
    color: coral;
  }
}
